
@media screen and (max-width: 1920px) {
    .wrapper {
        margin: 0 rem(60);
    }   
}

@media screen and (max-width: 1200px) {

    .navbar__row--left {
        max-width: rem(380);
    }

    .navbar__row--right {
        max-width: rem(449);
    }

    .socials--vertical {
        margin: rem(-11) rem(-15) 0 rem(46);
    }
}

@media screen and (max-width: 1100px) {
    .navbar__row--left {
        max-width: rem(370);
    }

    .navbar__row--right {
        max-width: rem(429);
    }

    .socials--vertical {
        margin: rem(-11) rem(-15) 0 rem(36);
    }
}

@media screen and (max-width: 1060px) {
    .wrapper {
        margin: 0 rem(40);
    }

    .header-box {
        padding-top: rem(40);
    }

    .menu {
        display: none;
    }

    .burger-menu {
        display: block;        
    }

    .socials--vertical {
        margin: rem(-11) rem(-15) 0 0;
    }

    .navbar__row--left {
        flex-basis: rem(370);
        margin-right: rem(37);
    }

    .navbar__row--right {
        width: auto;
        flex-grow: 2;
        flex-basis: rem(180);
    }
}

@media screen and (max-width: 760px) {
    html {
        font-size: 90%;
    }

    .wrapper {
        margin: 0 rem(30);
    }

    .header-box {
        padding-top: rem(30);
    }

    .navbar__row--left {
        flex-basis: auto;
        flex-wrap: wrap;
        align-content: space-between;
        height: rem(87);
    }

    .logo {
        margin-right: rem(50);
    }

    .submenu__item {
        padding-top: rem(28);
    }

    .socials__item:not(:last-child) {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 620px) {
    html {
        font-size: 82%;
    }

    .navbar__row--left {
        flex-basis: rem(160);
    }
}

@media screen and (max-width: 490px) {
    .header-box {
        display: block;
    }

    .navbar {
        width: 100%;
    }

    .btn-menu {
        @include flex(flex-end);
       
        &__icon {
            margin: 0;

            &:last-child {
                left: auto;
                right: 0;
            }
        }

        &:last-child {
            left: auto;
            right: 0;
        }
    }

    .submenu {
        &__item {
            margin: 0 -4px 0 auto;
        }
    }

    .socials--vertical {
        flex-direction: row;
        max-width: rem(227);
        margin: rem(85) 0 0 rem(-16);
    }    
}

@media screen and (max-width: 390px) {
    .header-box {
        position: relative;
    }

    .navbar {
        display: block;
        
        &__row--left {
            display: block;
            margin: 0 auto;
            min-width: min-content;
        }

        &__row--right {
            margin-top: rem(85);
        }
    }

    .logo {
        max-width: max-content;
        margin: 0 auto rem(29);
    }

    .phone-link {
        min-width: rem(220);             
    }

    .btn-menu {
        @include flex(center);

        &__icon {
            margin: 0 auto;

            &:last-child {
                @include absolute(0, 0, auto, 0);
            }
        }

        &:last-child {
            @include absolute(0, 0, auto, 0);
        }
    }

    .socials--vertical {
        margin: auto;
        @include absolute (rem(130),0,auto,0);
        z-index: 1;
    }

    .submenu {
        background-color: $pageBgColor;
        @include absolute (0,0,auto,0);

        &__item {
            margin: auto;
        }
        
        &__link {
            padding-left: rem(10);
        }
    }
}


