@media screen and (max-width: 1600px) {
    .navbar__row--left {
        max-width: 380px;
    }

    .navbar__row--right {
       max-width: 470px;
    } 
} 

@media screen and (max-width: 1440px) {
    .menu__link, .submenu__link {
        font-size: 14px;
        line-height: 1; 
    }

    .socials--vertical {
        margin-top: -10px;
    }
}

@media screen and (max-width: 1366px) {
    .navbar__row--left {
        max-width: 370px;
    }

    .navbar__row--right {
        max-width: 440px;
    }

    .menu__link, .submenu__link {
        font-size: 13px;
        line-height: 0.8; 
    }

    .socials--vertical {
        margin-top: -8px;
    }

    .circle__inner::before {
        width: 7px;
        height: 7px;              
        top: 2px;
    }
}

@media screen and (max-width: 1280px) {
    .header-box {
        padding-top: rem(40);
    }

    .navbar__row--right {
        max-width: 420px;
    }

    .phone-link__num {
        font-size: 15px;        
    }

    .menu__link, .submenu__link {
        font-size: 12px;
        line-height: 1.1;
    }

    .socials__item:not(:last-child) {
        margin-bottom: 5px;
    }        
}

@media screen and (max-width: 1200px) {
    .navbar__row--left {
        max-width: 360px;
    }

    .navbar__row--right {
        max-width: 400px;
    }

    .phone-link {
        min-width: 190px;
    }
}

@media screen and (max-width: 1150px) {
    .navbar {
        width: 94%;

        &__row--right {
            max-width: 360px;            
        }
    }

    .menu__link, .submenu__link {
        font-size: 11px;
        line-height: 1;
    }

    .phone-link__num {
        font-size: 13px;
    }

    .socials--vertical {
        margin-top: -7px;
    }
}

@media screen and (max-width: 960px) {
    .navbar {
        width: 93%;
    }

    .navbar__row--left {
        max-width: 350px;
        flex-wrap: wrap;
        align-content: space-between;
        height: rem(87);
    }

    .navbar__row--right {
        max-width: 350px;
    }

    .logo--top {
        margin-right: rem(50);
    }  
}

@media screen and (max-width: 760px) {
    .header-box {
        padding-top: rem(30);
    }

    .menu--top {
        display: none;
    }

    .burger-menu {
        display: block;        
    }

    .navbar__row--left {
        max-width: 200px;
        flex-basis: rem(350);
        margin-right: rem(37);
    }

    .menu__link, .submenu__link {
        font-size: 9px;
    }

    .socials__item:not(:last-child) {
        margin-bottom: 3px;
    }

    .circle__inner::before {
        @include absolute($tp: 2px, $rt: 2px);
    }
}

@media screen and (max-width: 620px) {
    .circle__inner::before {
        width: 6px;
        height: 6px;              
        top: 3px;
    }
}

@media screen and (max-width: 490px) {
    .header-box {
        display: block;
        margin-bottom: rem(40);
    }

    .navbar {
        width: 100%;
    }
    
    .menu-btn__icon {
        margin: 0 0 auto auto;           
    }

    .submenu__item {
        margin: 0 -4px 0 auto;        
    }

    .socials {
        &--vertical {
            flex-direction: row;
            max-width: 227px;
            margin: rem(70) 0 0 rem(-16);
        }    

        &__item:not(:last-child) {
            margin-bottom: 0;            
        }
    }    
}

@media screen and (max-width: 390px) {
    .header-box {
        position: relative;
        margin-bottom: rem(175);
    }

    .navbar {
        display: block;
        
        &__row--left {
            display: block;
            margin: 0 auto;
            min-width: min-content;
        }

        &__row--right {
            margin: rem(80) auto 0;
            width: 100%;
        }
    }

    .logo--top {
        max-width: max-content;
        margin: 0 auto rem(29);
    }

    .menu-btn__icon {
        margin: 0 auto;
    }       
    
    .submenu {
        &__item {
            background: linear-gradient(to bottom, #191e22, $pageBgColor);
            margin: 0 auto;
            padding: rem(21) 0 rem(21) 0;
            max-width: 100%;            
            text-align: center;
            
            &:first-child {
                margin-top: rem(16);
                
            }

            &:not(:first-child) {
                margin-top: -1px;
            }
        }
        
        &__link {          
            padding-left: 4px;
        }
    }

    .socials--vertical {
        margin: auto;
        @include absolute (rem(130), 0, auto, 0);        
    }
}


