@media screen and (max-width: 1280px) {
    .header-box {
        padding-top: rem(40);
    }

    .navbar__row--left {
        max-width: 380px;
    }

    .navbar__row--right {
        max-width: 430px;
    }

    .socials {
        &--vertical {
            margin-top: rem(-10);
        }    

        &__item {
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }    
}

@media screen and (max-width: 1200px) {
    .navbar {
        width: 94%;
    }

    .navbar__row--left {
        max-width: 360px;
    }

    .navbar__row--right {
        max-width: 400px;
    }
}

@media screen and (max-width: 960px) {
    .navbar {
        width: 93%;
    }

    .navbar__row--left {
        max-width: 350px;
    }

    .navbar__row--right {
        max-width: 350px;
    }
}

@media screen and (max-width: 960px) {
    .navbar__row--left {
        flex-basis: rem(160);
        flex-wrap: wrap;
        align-content: space-between;
        height: rem(87);
    }

    .logo {
        margin-right: rem(50);
    }    
}

@media screen and (max-width: 780px) {
    .menu {
        display: none;
    }

    .burger-menu {
        display: block;        
    }

    .navbar__row--left {
        max-width: 200px;
        flex-basis: rem(350);
        margin-right: rem(37);
    }
   
    .socials__item:not(:last-child) {
        margin-bottom: 3px;
    }
}

@media screen and (max-width: 760px) {
    .header-box {
        padding-top: rem(30);
    }
}

@media screen and (max-width: 490px) {
    .header-box {
        display: block;
    }

    .navbar {
        width: 100%;
    }

    .btn-menu {
        @include flex(flex-end);
       
        &__icon {
            margin: 0;

            &:last-child {
                left: auto;
                right: 0;
            }
        }

        &:last-child {
            left: auto;
            right: 0;
        }
    }

    .submenu {
        &__item {
            margin: 0 -4px 0 auto;
        }
    }

    .socials {
        &--vertical {
            flex-direction: row;
            max-width: 227px;
            margin: rem(70) 0 0 rem(-16);
        }    

        &__item {
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }    
}

@media screen and (max-width: 390px) {
    .header-box {
        position: relative;
    }

    .navbar {
        display: block;
        
        &__row--left {
            display: block;
            margin: 0 auto;
            min-width: min-content;
        }

        &__row--right {
            margin-top: rem(85);
        }
    }

    .logo {
        max-width: max-content;
        margin: 0 auto rem(29);
    }

    .btn-menu {
        @include flex(center);

        &__icon {
            margin: 0 auto;

            &:last-child {
                @include absolute(0, 0, auto, 0);
            }
        }

        &:last-child {
            @include absolute(0, 0, auto, 0);
        }
    }

    .socials--vertical {
        margin: auto;
        @include absolute (rem(130),0,auto,0);
        z-index: 1;
    }

    .submenu {
        background-color: $pageBgColor;
        @include absolute (0,0,auto,0);

        &__item {
            margin: auto;
        }
        
        &__link {
            padding-left: rem(10);
        }
    }
}


