.header-box {
    padding: rem(60) 0 rem(20);
    @include flex(space-between);   
}

.navbar {
    width: 95%;
    max-width: 1700px; 
    max-height: 29px;
    @include flex(space-between);
        
    &__row {
        flex-grow: 1;
                
        &--left {
            position: relative;
            @include flex(space-between);
            max-width: 405px;
            width: 24%; 
        }

        &--right {
            max-width: 500px;
            width: 29%; 
        }
    }
}

.logo {
    position: relative;
    
    &__img {
        max-width: 119px; 

        &--pink {
            @include absolute($tp: 0);            
            opacity: 0;

            &:hover {
                opacity: 1;                               
            }
        }
    }
}

.phone-link {
    min-width: 200px; 
    @include flex(space-between, center);
   
    &__img {
        width: rem(23); 
        animation: pulse 1.5s ease-out infinite;       
    }

    &__num {
        @include timesNewRomanReg($fs: 16px, $lh:1, $ls: 3px); 
        color: $phoneGrey               
    }

    &:hover {
        & > img {                
            animation: shake 1.5s;        
        } 

        & > span {
            color: $linkHvrColor;
        }
    }
    
    &:active {
        & > span {
            color: $linkActColor;
        }
    }
}

.menu {
    height: 100%;
    @include flex(space-between, center);
    
    &__item {
        height: inherit;
        @include flex($ai: center);
        
        &:not(:last-child) {
            padding-right: rem(30);           
        }
    }
    
    &__link {        
        @extend %menu-link;
    }    
}

.burger-menu {
    display: none;
    position: relative;
    top: 3px;
}

.btn-menu {
    &__icon {
        width: rem(29); 
        height: rem(22); 
        margin: 0 auto;
                
        &:last-child {
            @include absolute(0, 0, auto, 0);
            opacity: 0;
            
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    &:last-child {
        display: none;
        @include absolute(0, 0, auto, 0);        
        z-index: 1;    
    }
}

.submenu {
    display: none;
    padding-top: rem(22);
    animation: fall .4s ease-out;
                
    &__item {        
        padding-top: rem(27);
        max-width: min-content;
        margin: 0 auto;
    }

    &__link {
        padding-left: 3px;
        @extend %menu-link;        
    }    
}

.socials {
    @include flex(space-between);
   
    &__item {
        position: relative;
        width: rem(50);
        height: rem(50);
        @include flex(center, center);

        &:not(:last-child) {
            margin-bottom: 9px;
        }
    }
    
    &--vertical {
        margin: rem(-11) rem(-15) 0 0;
        flex-direction: column;
        align-items: flex-end;
    }
}

.icon-link {
    position: relative;

    &__img {
        margin: 0 auto;

        &--inst {
            width: rem(17);
        }

        &--fb {
            width: rem(10);
        }

        &--twtt {
            width: rem(18);    
        }

        &--bhn {
            width: rem(20);
        }

        &:last-child {
            @include absolute(0, 0, auto, 0);
            opacity: 0;
            
            &:hover {
                opacity: 1;
            }
        }
    }

    &:hover {
        & + .circle {
            display: block;
        }
    }
}

.circle {
    width: rem(50);
    height: rem(50);
    position: absolute;
    @extend %circle-border;
    animation: rotate 1s ease-in-out infinite;
    z-index: -1;
    display: none;

    &__inner {
        @include absolute(-1px, -1px, -1px, -1px);
        @extend %circle-border;
        animation: flex 1s ease-in-out infinite;

        &::before {
            content:'';
            width: 8px;
            height: 8px;              
            @include absolute($tp: 3px, $rt: 3px);
            border-radius: 50%;
            background-color: $linkHvrColor;
        }
    }    
}




