.blog-box {        
    padding: 12.84% 2.78% 20.84% 2.78%;
    position: relative;
        
    &__background {
        img {
            @include absolute($tp: 0, $lf: -22.55%);
            z-index: -10;
            width: 106.17%;
            opacity: 11%;
        }
    }

    &__item {
        &:nth-child(2) {
            margin-bottom: 25.29%;
        }
    }
}

.post-01 {    
    @include flex($jc: space-between);
    
    &__picture {
        width: 50.2%;
        max-width: 853px;        
        position: relative;        
    }

    &__img {
        &:first-child {            
            width: 70.34%;
            max-width: 600px;
            margin-left: 16.42%;
        }

        &:nth-child(2) {          
            @include absolute($tp: 0);
            margin-top: 23.56%;
            width: 100%;                      
        }
        
        &:nth-child(3) {    
            @include absolute($tp: 0, $lf: 44.55%);
            margin-top: 23.56%;
            width: 51.35%;
            max-width: 438px;            
        }
    }

    &__article {
        margin-top: -1.3%;
        width: 42.83%;
        max-width: 728px;
        color: $txtContColor;        
    }

    &__title {
        width: 101%;
        @include font($ff: $playDispReg, $fs: rem(44), $lh: 1.4);
        font-weight: 400;
        padding-bottom: 4.13%;     
    }

    &__txt {
        @include font($ff: $latoLt, $fs: rem(21.5), $lh: 1.6);        
        padding: 0 13.74% 5.5% 0;     
    }
}

.post-02 {    
    @include flex($jc: space-between);
    
    &__picture {
        @extend .post-01__picture;                
    }

    &__img {
        &:first-child {       
            @extend .post-01__img:first-child;           
            margin: 0 16.42% 0 auto;
        }

        &:nth-child(2) {    
            @extend .post-01__img:nth-child(2);                         
        }
        
        &:nth-child(3) {   
            @extend .post-01__img:nth-child(3);
            @include absolute($tp: 0, $rt: 44.55%);              
        }
    }

    &__article {
        @extend .post-01__article;   
        text-align: right;     
    }

    &__title {             
        @extend .post-01__title;
        width: 100%;
        padding-left: 5.5%;
    }

    &__txt {
        @extend .post-01__txt;          
        padding: 0 0 5.5% 9.62%;        
    }   

    div:last-child {
        margin: 0 0 0 auto;
    }
}

.arrow-btn {    
    width: 16.42%;
    max-width: 140px;
    height: 33.33%;
    max-height: 220px;
    margin-top: 23.56%;   
    user-select: none; 

    &--left {
        @include absolute($tp: 0, $lf: 0);       
    }

    &--right {
        @include absolute($tp: 0, $rt: 0); 
    }

    &__icon {
                
        width: 5.72%;
        max-width: 8px;
        min-width: 3.16px;
        pointer-events: none;

        &--left {
            @include absolute($bt: 0, $lf: 0);
            margin: 0 0 18.57% 26.43%;
        }

        &--right {
            @include absolute($bt: 0, $rt: 0);
            margin: 0 22.86% 18.57% 0;
        }
        
        &:not(:first-child) {
            display: none;
        }
    } 

    &:hover {
        cursor: pointer;

        .arrow-btn__icon:first-child {
            display: none;
        }

        .arrow-btn__icon:nth-child(2) {
            display: block;
        }
    }

    &:active {
        .arrow-btn__icon:not(:last-child) {
            display: none;
        }

        .arrow-btn__icon:last-child {
            display: block;
        }
    }
}

.btn {   
    &--orange {
        width: rem(200);
    }    

    &__inner--orange {        
        padding-top: 27%;        
    }

    &__button--orange {
        background-image: linear-gradient(35deg, $btnOrngDark 30%, $btnOrngLight 70%);
        
        &:hover {
            background-color: $btnOrngLight;
        }   
    } 
}

.number {       
    @include font($ff: $playDispReg, $fs: rem(44));        
    user-select: none;

    &--first {
        @include absolute($tp: 102.5%, $lf: 29%);
    }

    &--second {
        @include absolute($tp: 102.5%, $rt: 29%);
    }

    &__item {
        &:first-child {
            color: $txtContColor;
        }

        &:last-child {
            color: $numberGrey;
        }
    }
}

.switched-boxes {
    z-index: -1;
}

.switched-img {
    z-index: -2;
}