$formPadding: 15px;
$formBgColor: rgba(0, 191, 255, 0.2);
$containBrdColor: rgba(119, 136, 153, 0.5);
$shadowColor: #848484;
$inpActionColor: #009c0069;
$validColor: #e9ffdb;
$invalidColor: #ffc0cb;
$focusColor: #ffffff;
$checkmarkColor: rgba(1, 177, 1, 0.5);
$btnGradient: linear-gradient(to bottom, #00d300, #008000);
$btnNameColor: #ffffff;
$checkedColor: #008000;
$hoverColor: #01b101;
