@font-face {
    font-family: 'Segoe WP Ligt';
    src: url('../fonts/Segoe_WP_Light.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    }
    
@font-face {
    font-family: 'Segoe WP N';
    src: url('../fonts/Segoe_WP_N.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Segoe WP Black';
    src: url('../fonts/Segoe_WP_Black.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    }  
    
@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../fonts/Myriad_Pro_Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Optima LT';
    src: url('../fonts/Optima_LT.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
    