@media screen and (max-width: 1800px) {
    .btn {
        &--pink {
            width: rem(240.5);
        }
    }

    .advantage {
        &__name {
            font-size: rem(28);            
        }

        &__descript {
            font-size: rem(17);
        }
    }
}

@media screen and (max-width: 1700px) {
    .btn {
        &--pink {
            width: rem(221);
        }
    }

    .advantage {
        &__name {
            font-size: rem(26);            
        }

        &__descript {
            font-size: rem(16);
        }
    }
}

@media screen and (max-width: 1600px) {
    .contact-box__title {
        font-size: rem(12.5);
        letter-spacing: 8px;
        margin-right: -8px;
    }

    .btn {
        &--pink {
            width: rem(201.5);
        }
    }

    .advantage {
        &__name {
            font-size: rem(24);            
        }

        &__descript {
            font-size: rem(15);
        }
    }
}

@media screen and (max-width: 1440px) {
    .contact-box__background img {
        top: 18%;
    }

    .advantages-slider__item::before {
        padding-top: 78%;
    }

    .advantage {
        &__name {
            font-size: rem(22);            
        }        
    }
}

@media screen and (max-width: 1366px) {
    .contact-box__title {        
        letter-spacing: 7px;
        margin-right: -7px;
    }
}

@media screen and (max-width: 1280px) {
    .contact-box {
        &__title {
            font-size: rem(12);
        }

        &__background img {
            top: 19%;
            left: rem(-40);            
        }
    }        

    .advantage {        
        &__descript {
            font-size: rem(14);
            line-height: 1.55;
        }
    }
}

@media screen and (max-width: 1150px) {
    .contact-box {
        &__title {
            font-size: rem(10);
            letter-spacing: 5px;
            margin-right: -5px;
        }

        &__background img {
            top: 21%;
        }
    }

    .advantages-slider__item::before {
        padding-top: 86%;
    }

    .advantage {
        &__name {
            font-size: rem(19);            
        }

        &__descript {
            font-size: rem(13);            
        }
    }

    .big-text--bottom {
        padding-top: 31%;
    }
}

@media screen and (max-width: 960px) {
    .contact-box__title {
        font-size: rem(9);               
    }

    .advantage {
        &__name {
            font-size: rem(17);            
        }
        
        &__descript {
            font-size: rem(12);
        }
    }
}

@media screen and (max-width: 880px) {
    .contact-box {
        &__title {
            font-size: rem(8.5); 
            letter-spacing: 4px;   
            margin-right: -4px;     
        }

        &__nav {
            margin-bottom: 4%;
        }
    
        > :nth-child(4) {
            margin-bottom: 9.5%;
        }

        &__background img {
            top: 25%;
        }
    } 

    .big-text--mid {
        padding-top: 1%;
        padding-bottom: 2.5%;
    }

    .advantages-slider__item::before {
        padding-top: 91%;
    }

    .advantage {
        &__name {
            font-size: rem(16);            
        }       
    }

    .big-text--bottom {
        padding-top: 32%;
    }
}

@media screen and (max-width: 780px) {
    .contact-box__background img {
        top: 34%;
    }

    .nav-list {        
        width: 48%;
        max-width: 317px;
        margin: 0 auto;

        &__item {
            &:not(:last-child) {            
                padding-right: 3%;
            }

            &:nth-child(5) {
                padding-right: 0;
            }

            &:nth-child(6) {
                display: none;
            }
        }
    }

    .advantages-slider {  
        &__wrap {
            width: 206.432%;
        }

        &__item::before {
            padding-top: 86%;
        }
    }    

    .advantage {
        &__name {
            font-size: rem(19);            
        }

        &__descript {
            font-size: rem(14);
        }
    }
}

@media screen and (max-width: 760px) {
    .contact-box {
        &__title {
            font-size: rem(9);        
        }

        &__background img {
            left: rem(-30);
        }
    } 
}

@media screen and (max-width: 690px) {  
    .contact-box__background img {
        top: 35%;
    }

    .btn {
        &--pink {
            width: rem(159.9);
        }
    }

    .advantage {
        &__name {
            font-size: rem(18);            
        }
    }

    .big-text--bottom {
        padding-top: 34%;
    }
}

@media screen and (max-width: 620px) {
    .contact-box__title {
        font-size: rem(9.3);        
    }
}

@media screen and (max-width: 590px) {
    .contact-box {
        > :nth-child(4) {
            margin-bottom: 10.5%;
        }

        &__background img {
            top: 40%;
        }
    }

    .big-text--mid {
        padding-top: 2%;
        padding-bottom: 3.5%;
    }

    .nav-list {          
        width: 52%;     
    }

    .advantages-slider__item::before {
        padding-top: 103%;
    }

    .advantage {       
        &__descript {
            font-size: rem(13);
        }
    }
}

@media screen and (max-width: 490px) {  
    .contact-box {
        > :nth-child(4) {
            margin-bottom: 11%;
        }

        &__background img {
            top: 49%;
        }
    }

    .big-text--mid {
        padding-top: 3%;
        padding-bottom: 5%;
    }

    .nav-list {
        width: 61%;     
    }

    .btn {
        &--pink {
            width: rem(135.2);
        }
    }

    .advantages-slider {        
        &__wrap {
            width: 442.91%;
        }

        &__item::before {
            padding-top: 73.973%;
        }
    }    

    .advantage {
        &__name {
            font-size: rem(28);            
        }

        &__descript {
            font-size: rem(17);
            line-height: 1.778;
        }
    }
}

@media screen and (max-width: 430px) {
    .nav-list {
        width: 68%;        
    }
    
    .advantage {
        &__name {
            font-size: rem(24);            
        }

        &__descript {
            font-size: rem(15);            
        }
    }

    .big-text--bottom {
        padding-top: 40%;
    }
}

@media screen and (max-width: 390px) {
    .contact-box {
        > :nth-child(4) {
            margin-bottom: 12%;
        }

        &__background img {
            top: 52%;
        }
    }

    .big-text--mid {
        padding-top: 4%;
        padding-bottom: 6%;
    }

    .nav-list {
        width: 85%;        
    }

    .advantages-slider__item::before {
        padding-top: 78%;
    }

    .advantage {
        &__name {
            font-size: rem(20);            
        }

        &__descript {
            font-size: rem(14);  
            line-height: 1.55;          
        }
    }

    .big-text--bottom {
        padding-top: 45%;
    }
}

