$wrapMaxWidth: 1118px;
$fntFamilyGlobal: 'Myriad Pro Regular', sans-serif;
$fntFamilyTitle: 'Myriad Pro Bold', sans-serif;
$fntSizeGlbBig: 26px;
$fntSizeGlbMed: 20px;
$fntSizeTtlBig: 38px;
$fntSizeTtlMed: 30px;
$txtColorGlobal: #ffffff;
$contBgColorBlue: rgba(0, 54, 99, 0.749);
$contBgColorPurple: rgba(99, 4, 96, 0.749);
$contBgColorRed: rgba(158, 11, 15, 0.749);
$contBgColorYellow: rgba(255, 242, 0, 0.749);
$contBgColorOrange: rgba(247, 148, 29, 0.749);
$countryBgColor: rgba(42, 42, 42, 0.341);