@font-face {
  font-family: 'Lato Light';
  src: url("/fonts/Lato_Light.svg") format("svg"), url("/fonts/Lato_Light.ttf") format("truetype"), url("/fonts/Lato_Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato_Light.woff2") format("woff2"), url("/fonts/Lato_Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Regular';
  src: url("/fonts/Lato_Regular.svg") format("svg"), url("/fonts/Lato_Regular.ttf") format("truetype"), url("/fonts/Lato_Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato_Regular.woff2") format("woff2"), url("/fonts/Lato_Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url("/fonts/Lato_Bold.svg") format("svg"), url("/fonts/Lato_Bold.ttf") format("truetype"), url("/fonts/Lato_Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato_Bold.woff2") format("woff2"), url("/fonts/Lato_Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display Regular';
  src: url("/fonts/Playfair_Display_Regular.svg") format("svg"), url("/fonts/Playfair_Display_Regular.ttf") format("truetype"), url("/fonts/Playfair_Display_Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Playfair_Display_Regular.woff2") format("woff2"), url("/fonts/Playfair_Display_Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display Bold';
  src: url("/fonts/Playfair_Display_Bold.svg") format("svg"), url("/fonts/Playfair_Display_Bold.ttf") format("truetype"), url("/fonts/Playfair_Display_Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Playfair_Display_Bold.woff2") format("woff2"), url("/fonts/Playfair_Display_Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("/fonts/Proxima_Nova_Regular.svg") format("svg"), url("/fonts/Proxima_Nova_Regular.ttf") format("truetype"), url("/fonts/Proxima_Nova_Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Proxima_Nova_Regular.woff2") format("woff2"), url("/fonts/Proxima_Nova_Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("/fonts/Proxima_Nova_Semibold.svg") format("svg"), url("/fonts/Proxima_Nova_Semibold.ttf") format("truetype"), url("/fonts/Proxima_Nova_Semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/Proxima_Nova_Semibold.woff2") format("woff2"), url("/fonts/Proxima_Nova_Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Extrabold';
  src: url("/fonts/Proxima_Nova_Extrabld.svg") format("svg"), url("/fonts/Proxima_Nova_Extrabld.ttf") format("truetype"), url("/fonts/Proxima_Nova_Extrabld.eot?#iefix") format("embedded-opentype"), url("/fonts/Proxima_Nova_Extrabld.woff2") format("woff2"), url("/fonts/Proxima_Nova_Extrabld.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Times New Roman';
  src: url("/fonts/Times_New_Roman.svg") format("svg"), url("/fonts/Times_New_Roman.ttf") format("truetype"), url("/fonts/Times_New_Roman.eot?#iefix") format("embedded-opentype"), url("/fonts/Times_New_Roman.woff2") format("woff2"), url("/fonts/Times_New_Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover, button:hover {
  cursor: pointer;
}

img, a, button {
  display: block;
}

.wrapper {
  margin: 0 auto;
  max-width: 1800px;
}

.menu__link, .submenu__link, .links__item {
  font-family: "Lato Bold", sans-serif;
  font-size: 15px;
  line-height: 0.9;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #53595c;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu__link:hover, .submenu__link:hover, .links__item:hover {
  color: #a53689;
}

.menu__link:active, .submenu__link:active, .links__item:active {
  color: #5e00ca;
}

.circle, .circle__inner, .round-btn__outer, .round-btn__inner {
  border: 1px solid transparent;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border-top: 1px solid #a53689;
}

.dots .active > .dots__inner, .dots__item:hover > .dots__inner {
  background-color: #ed751b;
}

.dots .active > .dots__outer, .dots__item:hover > .dots__outer {
  visibility: visible;
}

.play-circle, .play-circle__inner {
  border: 2px solid transparent;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border-top: 2px solid #ed751b;
}

.page {
  background-color: #111619;
  background-repeat: no-repeat;
  background-image: url("../img/page_back.jpg");
  -webkit-background-size: 100% 100%;
          background-size: 100%;
}

.header-box {
  padding: 3.75rem 0 1.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar {
  width: 95%;
  max-width: 1700px;
  max-height: 29px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar__row {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navbar__row--left {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 405px;
  width: 24%;
}

.navbar__row--right {
  max-width: 500px;
  width: 29%;
}

.logo {
  position: relative;
}

.logo__img {
  max-width: 119px;
}

.logo__img--pink {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
  opacity: 0;
}

.logo__img--pink:hover {
  opacity: 1;
}

.phone-link {
  min-width: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.phone-link__img {
  width: 1.4375rem;
  -webkit-animation: pulse 1.5s ease-out infinite;
          animation: pulse 1.5s ease-out infinite;
}

.phone-link__num {
  font-family: "Times New Roman", serif;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 3px;
  color: #6b7175;
}

.phone-link:hover > img {
  -webkit-animation: shake 1.5s;
          animation: shake 1.5s;
}

.phone-link:hover > span {
  color: #a53689;
}

.phone-link:active > span {
  color: #5e00ca;
}

.menu {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu__item {
  height: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu__item:not(:last-child) {
  padding-right: 1.875rem;
}

.burger-menu {
  display: none;
  position: relative;
  top: 3px;
}

.menu-btn__icon {
  width: 1.8125rem;
  height: 1.375rem;
  margin: 0 auto;
}

.menu-btn__icon:last-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  opacity: 0;
}

.menu-btn__icon:last-child:hover {
  opacity: 1;
  cursor: pointer;
}

.menu-btn:last-child {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 2;
}

.submenu {
  display: none;
  position: relative;
  z-index: 1;
  padding-top: 1.375rem;
  -webkit-animation: fall .4s ease-out;
          animation: fall .4s ease-out;
}

.submenu__item {
  padding-top: 1.8125rem;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  margin: 0 auto;
}

.submenu__link {
  padding-left: 3px;
}

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.socials__item {
  position: relative;
  width: 3.125rem;
  height: 3.125rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.socials__item:not(:last-child) {
  margin-bottom: 9px;
}

.socials--vertical {
  margin: -0.6875rem -0.9375rem 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.icon-link {
  position: relative;
}

.icon-link__img {
  margin: 0 auto;
}

.icon-link__img--inst {
  width: 1.0625rem;
}

.icon-link__img--fb {
  width: 0.625rem;
}

.icon-link__img--twtt {
  width: 1.125rem;
}

.icon-link__img--bhn {
  width: 1.25rem;
}

.icon-link__img:last-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  opacity: 0;
}

.icon-link__img:last-child:hover {
  opacity: 1;
}

.icon-link:hover + .circle {
  display: block;
}

.circle {
  width: 3.125rem;
  height: 3.125rem;
  position: absolute;
  -webkit-animation: rotate 1s ease-in-out infinite;
          animation: rotate 1s ease-in-out infinite;
  z-index: -1;
  display: none;
}

.circle__inner {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  -webkit-animation: flex 1s ease-in-out infinite;
          animation: flex 1s ease-in-out infinite;
}

.circle__inner::before {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: auto;
  left: auto;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #a53689;
}

.main-slider {
  position: relative;
  overflow: hidden;
}

.main-slider__item {
  width: 70%;
  max-width: 1195px;
  min-width: 265px;
  margin: 0 auto;
  -webkit-animation: arrive .5s, leave .5s 3.5s;
          animation: arrive .5s, leave .5s 3.5s;
}

.main-slider__img {
  max-width: 100%;
}

.main-slider__descript {
  margin-bottom: 3.75rem;
  padding: 2.1875rem 0 2.1875rem 3.125rem;
  font-family: "Playfair Display Regular", serif;
  font-size: 1.75rem;
  line-height: normal;
  letter-spacing: 2.8125rem;
  text-align: center;
  color: #48555d;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-slider:last-child {
  margin: 0 auto;
}

.dots {
  margin: 0 auto;
  width: 115px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dots__item {
  position: relative;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.dots__item:hover {
  cursor: pointer;
}

.dots__inner {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #48555d;
  width: 5px;
  height: 5px;
}

.dots__outer {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  visibility: hidden;
  border: 2px solid #ed751b;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 100%;
  height: 100%;
}

.links {
  position: absolute;
  top: 44.5%;
  right: auto;
  bottom: auto;
  left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.links__item--left {
  -webkit-transform: rotate(-90deg) translateX(-4px);
      -ms-transform: rotate(-90deg) translateX(-4px);
          transform: rotate(-90deg) translateX(-4px);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}

.links__item--right {
  -webkit-transform: rotate(90deg) translateX(7px);
      -ms-transform: rotate(90deg) translateX(7px);
          transform: rotate(90deg) translateX(7px);
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
}

.links__line {
  height: 1px;
  position: absolute;
  top: -440%;
  right: auto;
  bottom: auto;
  left: auto;
}

.links__line--long {
  left: 2.5rem;
  width: 19%;
  max-width: 342px;
  background-image: -webkit-gradient(linear, left top, right top, from(#5e00ca), to(#d5536f));
  background-image: -webkit-linear-gradient(left, #5e00ca 0%, #d5536f 100%);
  background-image: -o-linear-gradient(left, #5e00ca 0%, #d5536f 100%);
  background-image: linear-gradient(90deg, #5e00ca 0%, #d5536f 100%);
}

.links__line--long::after {
  content: '';
  width: 13px;
  height: 13px;
  position: absolute;
  top: -12px;
  right: -12px;
  bottom: auto;
  left: auto;
  border: 6px solid rgba(165, 54, 137, 0.329);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #a53689 padding-box;
}

.links__line--short {
  right: 2.5rem;
  width: 2.5rem;
  background-color: #a853ec;
}

.round-btn {
  position: absolute;
  top: -840%;
  right: 12.5%;
  bottom: auto;
  left: auto;
  width: 6.625rem;
  height: 6.625rem;
}

.round-btn__outer {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-animation: big-rotate 1s ease-in-out infinite;
          animation: big-rotate 1s ease-in-out infinite;
}

.round-btn__inner {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  -webkit-animation: flex 1s ease-in-out infinite;
          animation: flex 1s ease-in-out infinite;
  background: rgba(24, 29, 33, 0.4);
}

.round-btn__inner::before {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 8px;
  right: 5px;
  bottom: auto;
  left: auto;
  border: 4px solid rgba(165, 54, 137, 0.329);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #a53689 padding-box;
}

.round-btn__img {
  width: 30%;
  max-width: 31px;
  opacity: 0.329;
  position: absolute;
  top: 43.4%;
  right: 35.4%;
  bottom: auto;
  left: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.round-btn__img:not(:first-child) {
  display: none;
}

.round-btn:hover {
  cursor: pointer;
}

.round-btn:hover .round-btn__arrow > img:first-child {
  display: none;
}

.round-btn:hover .round-btn__arrow > img:nth-child(2) {
  display: block;
  opacity: 1;
}

.round-btn:active .round-btn__arrow > img:not(:last-child) {
  display: none;
}

.round-btn:active .round-btn__arrow > img:last-child {
  display: block;
  opacity: 1;
}

.video-section {
  padding: 2.0625rem 0 5.3125rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video-section__screen {
  width: 55.6%;
  max-width: 1000px;
  height: 100%;
  max-height: 463px;
  background-color: rgba(24, 29, 33, 0.4);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.video-section__container {
  position: relative;
  padding-top: 46.3%;
}

.video-section__descript {
  padding: 3.0625rem 4.375rem 3.6875rem;
  font-family: "Playfair Display Regular", serif;
  font-size: 4.375rem;
  line-height: 1.429;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.play-block {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 25.1875rem;
  height: 25.1875rem;
}

.play-block__inner {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.play-block__inner--1 {
  -webkit-animation: ripple 3s linear infinite;
          animation: ripple 3s linear infinite;
}

.play-block__inner--2 {
  -webkit-animation: ripple 3s linear infinite 1s;
          animation: ripple 3s linear infinite 1s;
}

.play-block__inner--3 {
  -webkit-animation: ripple 3s linear infinite 2s;
          animation: ripple 3s linear infinite 2s;
}

.play-block__inner--4 {
  -webkit-animation: ripple 3s linear infinite 3s;
          animation: ripple 3s linear infinite 3s;
}

.play-block__inner--static {
  width: 39.4%;
  max-width: 159px;
  height: 39.4%;
  max-height: 159px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-image: url("../../../img/play_bg.png");
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.play-block__inner--static:hover {
  cursor: pointer;
}

.play-block__inner--static:hover .play-block__icon:first-child {
  display: none;
}

.play-block__inner--static:hover .play-block__icon:nth-child(2) {
  display: block;
}

.play-block__inner--static:active {
  width: 38.4%;
  height: 38.4%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.play-block__inner--static:active .play-block__icon:not(:last-child) {
  display: none;
}

.play-block__inner--static:active .play-block__icon:last-child {
  display: block;
}

.play-block__inner--anim {
  width: 43.7%;
  height: 43.7%;
  pointer-events: none;
}

.play-block__icon {
  width: 17%;
  max-width: 27px;
  position: absolute;
  top: 39.6%;
  right: auto;
  bottom: auto;
  left: 45.9%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.play-block__icon:not(:first-child) {
  display: none;
}

.play-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-animation: rotate 1s ease-in-out infinite;
          animation: rotate 1s ease-in-out infinite;
}

.play-circle__inner {
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  -webkit-animation: flex 1s ease-in-out infinite;
          animation: flex 1s ease-in-out infinite;
}

.play-circle__inner:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 13px;
  right: 11px;
  bottom: auto;
  left: auto;
  border: 7px solid rgba(237, 117, 27, 0.231);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #ed751b padding-box;
}

.signature {
  width: 7.3%;
  max-width: 130px;
  min-width: 70px;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  10% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }
  20% {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  30% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  40% {
    -webkit-transform: rotateZ(7.5deg);
            transform: rotateZ(7.5deg);
  }
  50% {
    -webkit-transform: rotateZ(-6deg);
            transform: rotateZ(-6deg);
  }
  60% {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  70% {
    -webkit-transform: rotateZ(-4.28571deg);
            transform: rotateZ(-4.28571deg);
  }
  80% {
    -webkit-transform: rotateZ(3.75deg);
            transform: rotateZ(3.75deg);
  }
  90% {
    -webkit-transform: rotateZ(-3.33333deg);
            transform: rotateZ(-3.33333deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  10% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }
  20% {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  30% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  40% {
    -webkit-transform: rotateZ(7.5deg);
            transform: rotateZ(7.5deg);
  }
  50% {
    -webkit-transform: rotateZ(-6deg);
            transform: rotateZ(-6deg);
  }
  60% {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  70% {
    -webkit-transform: rotateZ(-4.28571deg);
            transform: rotateZ(-4.28571deg);
  }
  80% {
    -webkit-transform: rotateZ(3.75deg);
            transform: rotateZ(3.75deg);
  }
  90% {
    -webkit-transform: rotateZ(-3.33333deg);
            transform: rotateZ(-3.33333deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}

@-webkit-keyframes flex {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes flex {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes fall {
  from {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fall {
  from {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes arrive {
  from {
    -webkit-transform: translateX(9.375rem);
            transform: translateX(9.375rem);
    opacity: .4;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes arrive {
  from {
    -webkit-transform: translateX(9.375rem);
            transform: translateX(9.375rem);
    opacity: .4;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes leave {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(-9.375rem);
            transform: translateX(-9.375rem);
    opacity: 0;
  }
}

@keyframes leave {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(-9.375rem);
            transform: translateX(-9.375rem);
    opacity: 0;
  }
}

@-webkit-keyframes arrive-inv {
  from {
    -webkit-transform: translateX(-9.375rem);
            transform: translateX(-9.375rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes arrive-inv {
  from {
    -webkit-transform: translateX(-9.375rem);
            transform: translateX(-9.375rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes big-rotate {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(310deg);
            transform: rotate(310deg);
  }
}

@keyframes big-rotate {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(310deg);
            transform: rotate(310deg);
  }
}

@-webkit-keyframes ripple {
  from {
    width: 51.4%;
    height: 51.4%;
    background-color: rgba(172, 55, 142, 0.188);
  }
  to {
    width: 100%;
    height: 100%;
    background-color: rgba(172, 55, 142, 0.02);
  }
}

@keyframes ripple {
  from {
    width: 51.4%;
    height: 51.4%;
    background-color: rgba(172, 55, 142, 0.188);
  }
  to {
    width: 100%;
    height: 100%;
    background-color: rgba(172, 55, 142, 0.02);
  }
}

@media screen and (max-width: 1920px) {
  .wrapper {
    margin: 0 3.75rem;
  }
}

@media screen and (max-width: 1366px) {
  html {
    font-size: 92%;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    margin: 0 2.5rem;
  }
}

@media screen and (max-width: 960px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 760px) {
  html {
    font-size: 85%;
  }
  .wrapper {
    margin: 0 1.875rem;
  }
}

@media screen and (max-width: 620px) {
  html {
    font-size: 82%;
  }
}

@media screen and (max-width: 1600px) {
  .navbar__row--left {
    max-width: 380px;
  }
  .navbar__row--right {
    max-width: 470px;
  }
}

@media screen and (max-width: 1440px) {
  .menu__link, .submenu__link {
    font-size: 14px;
    line-height: 1;
  }
  .socials--vertical {
    margin-top: -10px;
  }
}

@media screen and (max-width: 1366px) {
  .navbar__row--left {
    max-width: 370px;
  }
  .navbar__row--right {
    max-width: 440px;
  }
  .menu__link, .submenu__link {
    font-size: 13px;
    line-height: 0.8;
  }
  .socials--vertical {
    margin-top: -8px;
  }
  .circle__inner::before {
    width: 7px;
    height: 7px;
    top: 2px;
  }
}

@media screen and (max-width: 1280px) {
  .header-box {
    padding-top: 2.5rem;
  }
  .navbar__row--right {
    max-width: 420px;
  }
  .phone-link__num {
    font-size: 15px;
  }
  .menu__link, .submenu__link {
    font-size: 12px;
    line-height: 1.1;
  }
  .socials__item:not(:last-child) {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 1200px) {
  .navbar__row--left {
    max-width: 360px;
  }
  .navbar__row--right {
    max-width: 400px;
  }
  .phone-link {
    min-width: 190px;
  }
}

@media screen and (max-width: 1150px) {
  .navbar {
    width: 94%;
  }
  .navbar__row--right {
    max-width: 360px;
  }
  .menu__link, .submenu__link {
    font-size: 11px;
    line-height: 1;
  }
  .phone-link__num {
    font-size: 13px;
  }
  .socials--vertical {
    margin-top: -7px;
  }
}

@media screen and (max-width: 960px) {
  .navbar {
    width: 93%;
  }
  .navbar__row--left {
    max-width: 350px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
    height: 5.4375rem;
  }
  .navbar__row--right {
    max-width: 350px;
  }
  .logo {
    margin-right: 3.125rem;
  }
}

@media screen and (max-width: 760px) {
  .header-box {
    padding-top: 1.875rem;
  }
  .menu {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .navbar__row--left {
    max-width: 200px;
    -webkit-flex-basis: 21.875rem;
        -ms-flex-preferred-size: 21.875rem;
            flex-basis: 21.875rem;
    margin-right: 2.3125rem;
  }
  .menu__link, .submenu__link {
    font-size: 9px;
  }
  .socials__item:not(:last-child) {
    margin-bottom: 3px;
  }
  .circle__inner::before {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: auto;
    left: auto;
  }
}

@media screen and (max-width: 620px) {
  .circle__inner::before {
    width: 6px;
    height: 6px;
    top: 3px;
  }
}

@media screen and (max-width: 490px) {
  .header-box {
    display: block;
    margin-bottom: 2.5rem;
  }
  .navbar {
    width: 100%;
  }
  .menu-btn__icon {
    margin: 0 0 auto auto;
  }
  .submenu__item {
    margin: 0 -4px 0 auto;
  }
  .socials--vertical {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 227px;
    margin: 4.375rem 0 0 -1rem;
  }
  .socials__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 390px) {
  .header-box {
    position: relative;
    margin-bottom: 10.9375rem;
  }
  .navbar {
    display: block;
  }
  .navbar__row--left {
    display: block;
    margin: 0 auto;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
  }
  .navbar__row--right {
    margin: 5rem auto 0;
    width: 100%;
  }
  .logo {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto 1.8125rem;
  }
  .menu-btn__icon {
    margin: 0 auto;
  }
  .submenu__item {
    background: -webkit-gradient(linear, left top, left bottom, from(#191e22), to(#111619));
    background: -webkit-linear-gradient(top, #191e22, #111619);
    background: -o-linear-gradient(top, #191e22, #111619);
    background: linear-gradient(to bottom, #191e22, #111619);
    margin: 0 auto;
    padding: 1.3125rem 0 1.3125rem 0;
    max-width: 100%;
    text-align: center;
  }
  .submenu__item:first-child {
    margin-top: 1rem;
  }
  .submenu__item:not(:first-child) {
    margin-top: -1px;
  }
  .submenu__link {
    padding-left: 0.3125rem;
  }
  .socials--vertical {
    margin: auto;
    position: absolute;
    top: 8.125rem;
    right: 0;
    bottom: auto;
    left: 0;
  }
}

@media screen and (max-width: 1900px) {
  .links__line--long {
    width: 18.1%;
  }
}

@media screen and (max-width: 1860px) {
  .links__line--long {
    width: 17.3%;
  }
}

@media screen and (max-width: 1820px) {
  .links__line--long {
    width: 17.1%;
  }
}

@media screen and (max-width: 1700px) {
  .links__line--long {
    width: 16.9%;
  }
  .round-btn {
    top: -800%;
    width: 5.9375rem;
    height: 5.9375rem;
  }
  .round-btn__inner::before {
    position: absolute;
    top: 8px;
    right: 2px;
    bottom: auto;
    left: auto;
  }
}

@media screen and (max-width: 1600px) {
  .main-slider__descript {
    margin-bottom: 3.4375rem;
    padding: 1.75rem 0 1.75rem 2.1875rem;
    font-size: 1.5625rem;
    letter-spacing: 2.5rem;
  }
  .dots {
    width: 100px;
  }
  .dots__inner {
    width: 4px;
    height: 4px;
  }
  .dots__outer {
    width: 20px;
    height: 20px;
  }
  .links {
    top: 45%;
  }
  .links__line--long {
    width: 16.7%;
  }
  .links__line--long::after {
    width: 11px;
    height: 11px;
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: auto;
    left: auto;
    border-width: 5px;
  }
}

@media screen and (max-width: 1500px) {
  .round-btn {
    top: -775%;
    width: 5.625rem;
    height: 5.625rem;
  }
  .round-btn__inner::before {
    top: 7px;
  }
  .links__line--long {
    width: 16.4%;
  }
}

@media screen and (max-width: 1440px) {
  .main-slider__descript {
    margin-bottom: 3.125rem;
    font-size: 1.375rem;
    letter-spacing: 2.0625rem;
  }
  .dots {
    width: 80px;
  }
  .dots__inner {
    width: 3px;
    height: 3px;
  }
  .dots__outer {
    width: 17px;
    height: 17px;
  }
  .links__item {
    font-size: 14px;
  }
  .round-btn {
    top: -810%;
  }
}

@media screen and (max-width: 1366px) {
  .main-slider__descript {
    margin-bottom: 2.8125rem;
    padding: 1.375rem 0 1.375rem 1.875rem;
    font-size: 1.25rem;
    letter-spacing: 1.9375rem;
  }
  .round-btn {
    top: -830%;
  }
  .round-btn__inner::before {
    width: 7px;
    height: 7px;
    border-width: 3px;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: auto;
    left: auto;
  }
  .links {
    top: 47%;
  }
  .links__item {
    font-size: 13px;
  }
  .links__line {
    top: -460%;
  }
  .links__line--long::after {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -9px;
    right: -9px;
    bottom: auto;
    left: auto;
    border-width: 4px;
  }
}

@media screen and (max-width: 1280px) {
  .main-slider__item {
    width: 65%;
  }
  .links {
    top: 46%;
  }
  .links__line {
    top: -470%;
  }
  .links__line--long {
    width: 18.5%;
  }
  .links__item {
    font-size: 12px;
  }
  .round-btn {
    width: 5rem;
    height: 5rem;
  }
  .round-btn__inner::before {
    position: absolute;
    top: 4px;
    right: 3px;
    bottom: auto;
    left: auto;
  }
}

@media screen and (max-width: 1150px) {
  .main-slider__descript {
    margin-bottom: 1.25rem;
    font-size: 1.1875rem;
    letter-spacing: 1.75rem;
  }
  .links {
    top: 48%;
  }
  .links__line {
    top: -480%;
  }
  .links__line--long {
    width: 18%;
  }
  .links__item {
    font-size: 11px;
  }
  .dots {
    width: 70px;
  }
  .dots__inner {
    width: 2px;
    height: 2px;
  }
  .dots__outer {
    border-width: 1px;
    width: 14px;
    height: 14px;
  }
  .round-btn {
    width: 4.375rem;
    height: 4.375rem;
  }
  .round-btn__inner::before {
    position: absolute;
    top: 3px;
    right: 1px;
    bottom: auto;
    left: auto;
  }
}

@media screen and (max-width: 960px) {
  .main-slider__descript {
    margin-bottom: 0.9375rem;
    font-size: 0.9375rem;
  }
  .dots {
    width: 60px;
  }
  .dots__outer {
    width: 12px;
    height: 12px;
  }
  .links {
    top: 49%;
  }
  .links__line--long {
    width: 17.9%;
    left: 2.1875rem;
  }
  .links__line--long::after {
    width: 9px;
    height: 9px;
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: auto;
    left: auto;
  }
  .links__line--short {
    right: 2.1875rem;
  }
  .round-btn {
    top: -770%;
    width: 3.75rem;
    height: 3.75rem;
  }
  .round-btn__inner::before {
    position: absolute;
    top: 2px;
    right: 0px;
    bottom: auto;
    left: auto;
  }
}

@media screen and (max-width: 827px) {
  .main-slider__item {
    width: 60%;
  }
  .main-slider__descript {
    padding: 0.9375rem 0.9375rem 0.9375rem 2.5rem;
    margin-bottom: 0.3125rem;
    font-size: 0.875rem;
    line-height: 2.5;
  }
  .links {
    top: 45%;
  }
  .links__line--long {
    width: 19.5%;
  }
}

@media screen and (max-width: 760px) {
  .dots__outer {
    width: 11px;
    height: 11px;
  }
  .links {
    top: 44%;
  }
  .links__item {
    font-size: 9px;
  }
  .links__line--long {
    width: 20%;
    left: 1.875rem;
  }
  .links__line--short {
    right: 1.875rem;
  }
  .round-btn {
    top: -730%;
    width: 3.125rem;
    height: 3.125rem;
  }
  .round-btn__inner::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: auto;
    left: auto;
  }
}

@media screen and (max-width: 620px) {
  .main-slider__descript {
    padding: 0.625rem 0rem 0.625rem 1.5625rem;
    margin-bottom: 0;
  }
  .dots {
    width: 60px;
  }
  .dots__outer {
    width: 9px;
    height: 9px;
  }
  .links {
    top: 46%;
  }
  .links__line--long {
    width: 20.1%;
    left: 1.25rem;
  }
  .links__line--long::after {
    width: 8px;
    height: 8px;
    position: absolute;
    top: -7px;
    right: -9px;
    bottom: auto;
    left: auto;
    border-width: 3px;
  }
  .links__line--short {
    right: 1.25rem;
    width: 1.875rem;
  }
  .round-btn__inner::before {
    width: 6px;
    height: 6px;
    position: absolute;
    top: 1px;
    right: -2px;
    bottom: auto;
    left: auto;
  }
}

@media screen and (max-width: 490px) {
  .main-slider__descript {
    line-height: 2.2;
  }
  .dots {
    width: 50px;
  }
  .dots__inner {
    width: 2px;
    height: 2px;
  }
  .dots__outer {
    border-width: 1px;
    width: 8px;
    height: 8px;
  }
  .links {
    top: 47%;
  }
  .links__line--long {
    width: 2.5rem;
  }
  .links__line--short {
    display: none;
  }
  .round-btn {
    right: auto;
    left: 84%;
  }
}

@media screen and (max-width: 390px) {
  .main-slider {
    padding-top: 2.1875rem;
  }
  .links {
    top: 0px;
  }
  .links__item {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .links__line--long {
    display: none;
  }
  .round-btn {
    position: absolute;
    top: 760%;
    right: 0;
    bottom: auto;
    left: auto;
  }
}

@media screen and (max-width: 350px) {
  .main-slider__item {
    min-width: 230px;
  }
  .main-slider__descript {
    margin-right: -1.25rem;
    padding: 0.625rem 0rem 0.625rem 0.375rem;
    text-align: center;
  }
  .round-btn {
    top: 700%;
  }
}

@media screen and (max-width: 1800px) {
  .video-section__descript {
    padding: 2.75rem 4.375rem 3.375rem;
    font-size: 4.0625rem;
  }
  .play-block {
    width: 23.75rem;
    height: 23.75rem;
  }
  .play-circle__inner::after {
    top: 10px;
  }
}

@media screen and (max-width: 1700px) {
  .video-section__descript {
    padding: 2.4375rem 4.375rem 3.0625rem;
    font-size: 3.75rem;
  }
  .play-block {
    width: 21.875rem;
    height: 21.875rem;
  }
  .play-circle__inner::after {
    position: absolute;
    top: 10px;
    right: 7px;
    bottom: auto;
    left: auto;
  }
}

@media screen and (max-width: 1600px) {
  .video-section__descript {
    padding: 2.1875rem 4.375rem 2.8125rem;
    font-size: 3.4375rem;
  }
  .play-block {
    width: 21.25rem;
    height: 21.25rem;
  }
  .play-circle__inner::after {
    width: 9px;
    height: 9px;
    right: 9px;
    border-width: 6px;
  }
}

@media screen and (max-width: 1500px) {
  .play-block {
    width: 20rem;
    height: 20rem;
  }
  .play-circle__inner::after {
    position: absolute;
    top: 9px;
    right: 8px;
    bottom: auto;
    left: auto;
  }
}

@media screen and (max-width: 1440px) {
  .play-block {
    width: 18.75rem;
    height: 18.75rem;
  }
  .play-circle__inner::after {
    top: 6px;
  }
}

@media screen and (max-width: 1366px) {
  .play-circle__inner::after {
    width: 7px;
    height: 7px;
    position: absolute;
    top: 8px;
    right: 9px;
    bottom: auto;
    left: auto;
    border-width: 4px;
  }
}

@media screen and (max-width: 1280px) {
  .video-section {
    padding-top: 0.9375rem;
  }
  .video-section__descript {
    padding: 1.9375rem 4.375rem 2.5625rem;
    font-family: "Playfair Display Regular", serif;
    font-size: 3.125rem;
    line-height: 1.45;
    letter-spacing: normal;
  }
  .play-block {
    width: 18.125rem;
    height: 18.125rem;
  }
  .play-block__inner--anim {
    width: 44.5%;
    height: 44.5%;
  }
  .play-circle__inner::after {
    position: absolute;
    top: 7px;
    right: 10px;
    bottom: auto;
    left: auto;
  }
  .signature {
    width: 7.2%;
  }
}

@media screen and (max-width: 1150px) {
  .play-block {
    width: 16.875rem;
    height: 16.875rem;
  }
  .play-circle__inner::after {
    position: absolute;
    top: 6px;
    right: 8px;
    bottom: auto;
    left: auto;
  }
  .video-section__descript {
    padding: 1.5rem 3.125rem 2.125rem;
    font-size: 2.8125rem;
  }
}

@media screen and (max-width: 1060px) {
  .play-block {
    width: 15rem;
    height: 15rem;
  }
  .play-block__inner--anim {
    width: 45%;
    height: 45%;
  }
  .play-circle__inner::after {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: auto;
    left: auto;
  }
}

@media screen and (max-width: 960px) {
  .video-section {
    padding-top: 0.3125rem;
  }
  .video-section__screen {
    width: 63%;
  }
  .video-section__descript {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 880px) {
  .video-section__descript {
    padding: 1.25rem 3.125rem 1.875rem;
    font-size: 2.1875rem;
  }
  .play-block {
    width: 13.75rem;
    height: 13.75rem;
  }
  .play-block__inner--anim {
    width: 46%;
    height: 46%;
  }
  .play-circle__inner::after {
    top: 3px;
  }
}

@media screen and (max-width: 760px) {
  .video-section {
    padding-top: 0rem;
  }
  .video-section__screen {
    width: 70%;
  }
  .video-section__descript {
    padding-top: 0.9375rem;
  }
  .play-block__inner--anim {
    width: 47%;
    height: 47%;
  }
}

@media screen and (max-width: 690px) {
  .video-section__descript {
    font-size: 1.875rem;
  }
  .signature {
    min-width: 60px;
  }
}

@media screen and (max-width: 620px) {
  .video-section__screen {
    width: 80%;
  }
  .video-section__descript {
    padding: 0.625rem 1.875rem 1.5625rem;
    font-size: 1.6875rem;
  }
  .play-block {
    width: 12.5rem;
    height: 12.5rem;
  }
  .play-circle {
    border-width: 1px;
    border-top: 1px solid #ed751b;
  }
  .play-circle__inner {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border-width: 1px;
    border-top: 1px solid #ed751b;
  }
  .play-circle__inner::after {
    right: 3px;
  }
}

@media screen and (max-width: 490px) {
  .video-section__screen {
    width: 90%;
  }
  .video-section__descript {
    font-size: 1.5625rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
  .play-block {
    width: 10.625rem;
    height: 10.625rem;
  }
  .play-circle__inner::after {
    width: 6px;
    height: 6px;
    border-width: 3px;
  }
  .signature {
    min-width: 50px;
  }
}

@media screen and (max-width: 390px) {
  .video-section__screen {
    width: 100%;
  }
  .video-section__descript {
    font-size: 1.25rem;
  }
  .play-block {
    width: 8.75rem;
    height: 8.75rem;
  }
  .play-block__inner--anim {
    width: 48%;
    height: 48%;
  }
  .play-circle__inner::after {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: auto;
    left: auto;
  }
}
/*# sourceMappingURL=style.css.map */