.about-box {
    position: relative;
    overflow-x: hidden;
}

.main-slider {
    &__item {
        //background: seagreen;
        width: 66%;
        max-width: 1195px;
        margin: 0 auto;
        //animation: arrive .5s, leave .5s 3.5s;       
    }
    
    &__img {
        max-width: 100%;
    }
    
    &__descript {
        margin-bottom: rem(60);
        padding: rem(35) 0 rem(35) rem(50);//
        text-align: center;
        font: {
            family: "Playfair Display Regular", serif;
            size: rem(28);//
        }
        color: $dotColor;
        text-transform: uppercase;
        letter-spacing: rem(45);//        
    }

    @keyframes arrive {
        from {
            transform: translateX(rem(150));
            opacity: .4;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes leave {
        from {
            transform: translateX(0);
            opacity: 1;
        }
        to {
            transform: translateX(rem(-150));
            opacity: 0;
        }
    }

    @keyframes arrive-inv {
        from {
            transform: translateX(rem(-150));
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }


    &:last-child {
        margin: 0 auto;
    }
}

.dots {
    @include flex($jc: center);

    .active {
        @extend %active-dot;
    }
    
    &__item {
        position: relative;
        max-width: min-content;
        border-radius: 50%;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:hover {
            cursor: pointer;
            @extend %active-dot;           
        }           
    }

    &__inner {
        @include absolute($tp: 50%, $rt: 50%);
        transform: translate(50%, -50%);
        border-radius: 50%;
        background-color: $dotColor;
        width: 5px;
        height: 5px;
    }

    &__outer {
        visibility: hidden;
        border: 2px solid $dotActColor {
            radius: 50%;
        }
        width: rem(25);
        height: rem(25);
    }
}

.links {
    @include absolute($tp: rem(310));
    @include flex(space-between);
    width: 100%;
    //background-color: red;
    @extend %menu-link;

    &__item {
        &--left {
            margin-left: rem(15);
            transform: rotate(-90deg);
            transform-origin: left bottom;
        }

        &--right {
            margin-right: rem(15);
            transform: rotate(90deg);
            transform-origin: right bottom;
        }
    }
}

