@media screen and (max-width: 1920px) {
    .round-btn {
        top: -740%;
        width: rem(100);
        height: rem(100);
    }

    .round-btn__inner::before {
        @include absolute($tp: 8px, $rt: 3px);       
    }

    .links {
        &__line {
            &--long {
                width: 18.8%;
            }
        }
    }
}

@media screen and (max-width: 1800px) {
    .round-btn {
        top: -730%;
    }

    .links {
        &__line {
            &--long {
                width: 18.7%;
            }
        }
    }
}

@media screen and (max-width: 1700px) {
    .round-btn {
        top: -710%;
        width: rem(95);
        height: rem(95);
    }

    .round-btn__inner::before {
        @include absolute($tp: 8px, $rt: 2px);
    }
}

@media screen and (max-width: 1650px) {
    .links {
        @include absolute($tp: 45.5%);

        &__line {
            &--long {
                width: 18.4%;
            }            
        }
    }
}

@media screen and (max-width: 1600px) {
    .main-slider__descript {
        margin-bottom: rem(55);
        padding: rem(28) 0 rem(28) rem(35);
        text-align: center;
        font-size: rem(25);
        letter-spacing: rem(40);
    }

    .dots {
        &__inner {
            width: 4px;
            height: 4px;
        }
    
        &__outer {
            border: 1px solid $actionOrange {
                radius: 50%;
            }
            width: rem(20);
            height: rem(20);
        }
    }

    .links {
        @include absolute($tp: 47%);

        &__line {
            &--long {
                &:after {
                    width: 11px;
                    height: 11px;
                    @include absolute($tp: -10px, $rt: -10px);
                    border-width: 5px;
                }
            }
        }        
    }
}

@media screen and (max-width: 1500px) {
    .round-btn {
        top: -700%;
        width: rem(90);
        height: rem(90);
    }

    .round-btn__inner::before {
        @include absolute($tp: 7px, $rt: 2px);
    }

    .links {
        &__line {
            &--long {
                width: 18.2%;
            }            
        }
    } 
}

@media screen and (max-width: 1420px) {
    .main-slider__descript {
        margin-bottom: rem(50);
        font-size: rem(22);
        letter-spacing: rem(33);
    }

    .links {
        @include absolute($tp: 48%);        
    }
}

@media screen and (max-width: 1366px) {
    .main-slider__descript {
        margin-bottom: rem(48);
        padding: rem(22) 0 rem(22) rem(30);
        text-align: center;
        font-size: rem(21);
        letter-spacing: rem(31);
    }

    .round-btn {
        top: -720%;
    }

    .round-btn__inner::before {
        @include absolute($tp: 5px, $rt: 2px);
    }

    .dots {
        &__item {
            &:not(:last-child) {
                margin-right: 4px;
            }
        }
            
        &__inner {
            width: 3px;
            height: 3px;
        }
    
        &__outer {
            width: rem(18);
            height: rem(18);
        }
    }

    .links {
        @include absolute($tp: 50%);
        
        &__line {
            &--long {
                width: 18%;

                &:after {
                    width: 10px;
                    height: 10px;
                    @include absolute($tp: -9px, $rt: -9px);
                    border-width: 4px;
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .round-btn {
        top: -680%;
        width: rem(80);
        height: rem(80);
    }

    .round-btn__inner::before {
        @include absolute($tp: 3px, $rt: 1px);
    }
}

@media screen and (max-width: 1150px) {
    .round-btn {
        top: -640%;
        width: rem(70);
        height: rem(70);
    }

    .round-btn__inner::before {
        @include absolute($tp: 2px, $rt: -1px);
    }
}

@media screen and (max-width: 960px) {
    .round-btn {
        //top: -610%;
        width: rem(60);
        height: rem(60);        
    }

    .round-btn__inner::before {
        @include absolute($tp: 1px, $rt: -3px);
    }
}

@media screen and (max-width: 760px) {
    .round-btn {
        width: rem(50);
        height: rem(50);        
    }

    .round-btn__inner::before {
        @include absolute($tp: -2px, $rt: -3px);
    }
}



