.main-slider {
    position: relative;    

    &__item {
        width: 70%;
        max-width: 1195px;
        min-width: 265px;
        margin: 0 auto;          
    }
    
    &__img {
        max-width: 100%;
    }
    
    &__descript {
        margin-bottom: rem(60);
        padding: rem(35) 0 rem(35) rem(50);   
        @include font($ff: $playDispReg, $fs: rem(28), $ls: rem(45));             
        text-align: center;
        color: $dotColor;
        text-transform: uppercase;
        user-select: none;        
    }

    &:last-child {
        margin: 0 auto;
    }
}

.dots {
    margin: 0 auto;
    width: 115px;
    @include flex ($jc: space-between);    

    .active {
        @extend %active-dot;
    }
    
    &__item {
        position: relative;        
        width: 25px;
        height: 25px;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
            @extend %active-dot;           
        }           
    }

    &__inner {
        @include center;        
        border-radius: 50%;
        background-color: $dotColor;
        width: 5px;
        height: 5px;              
    }

    &__outer {
        @include center;        
        visibility: hidden;
        border: 2px solid $actionOrange {
            radius: 50%;
        }
        width: 100%;
        height: 100%;
    }
}

.links {
    @include absolute($tp: 44.5%);
    @include flex(space-between);
    width: 100%;
        
    &__item {
        @extend %menu-link;
        
        &--left {
            transform: rotate(-90deg) translateX(-4px);
            transform-origin: left top;
        }

        &--right {
            transform: rotate(90deg) translateX(7px);
            transform-origin: right top;
        }
    }

    &__line {
        height: 1px;
        @include absolute($tp: -440%);        

        &--long {
            left: rem(40);
            width: 19%;
            max-width: 342px;
            background-image: linear-gradient(90deg, $linkActColor 0%, $linePink 100%);
            
            &::after {
                content:'';
                width: 13px;
                height: 13px;
                @include absolute($tp: -12px, $rt: -12px);
                border: 6px solid $trnspPink {
                    radius: 50%;
                };
                background: $linkHvrColor padding-box;
            }
        }

        &--short {
            right: rem(40);
            width: rem(40);            
            background-color: $linePurple;
        }
    }
}

.round-btn {
    @include absolute($tp: -840%, $rt: 12.5%);
    width: rem(106);
    height: rem(106);
       
    &__outer {        
        @include absolute(0px, 0px, 0px, 0px);
        @extend %circle-border;
        animation: big-rotate 1s ease-in-out infinite;
    }

    &__inner {
        @include absolute(-1px, -1px, -1px, -1px);
        @extend %circle-border;
        animation: flex 1s ease-in-out infinite;
        background: $trnspBlack;
        
        &::before {
            content:'';
            width: 8px;
            height: 8px;
            @include absolute($tp: 8px, $rt: 5px);
            border: 4px solid $trnspPink;
            border-radius: 50%;
            background: $linkHvrColor padding-box;
        }        
    }

    &__img {
        width: 30%;
        max-width: 31px;
        opacity: 0.329;
        @include absolute($tp: 43.4%, $rt: 35.4%);
        user-select: none;
        
        &:not(:first-child) {
            display: none;
        }
    }

    &:hover {
        cursor: pointer;

        .round-btn__arrow > img:first-child {
            display: none;
        }

        .round-btn__arrow > img:nth-child(2) {
            display: block;
            opacity: 1;
        }
    }

    &:active {
        .round-btn__arrow > img:not(:last-child) {
            display: none;
        }

        .round-btn__arrow > img:last-child {
            display: block;
            opacity: 1;
        }
    }
}
