@media screen and (max-width: 1900px) {
    .links__line--long {
        width: 18.1%;        
    }
}

@media screen and (max-width: 1860px) {
    .links__line--long {
        width: 17.3%;        
    }
}

@media screen and (max-width: 1820px) {
    .links__line--long {
        width: 17.1%;        
    }
}

@media screen and (max-width: 1700px) {
    .links__line--long {
        width: 16.9%;        
    }

    .round-btn {
        top: -800%;
        width: rem(95);
        height: rem(95);

        &__inner::before {
            @include absolute($tp: 8px, $rt: 2px);
        }
    }    
}

@media screen and (max-width: 1600px) {
    .main-slider__descript {
        margin-bottom: rem(55);
        padding: rem(28) 0 rem(28) rem(35);        
        font-size: rem(25);
        letter-spacing: rem(40);
    }

    .dots {
        width: 100px;

        &__inner {
            width: 4px;
            height: 4px;
        }
    
        &__outer {            
            width: 20px;
            height: 20px;
        }
    }

    .links {    
        top: 45%;

        &__line--long {
            width: 16.7%;

            &::after {
                width: 11px;
                height: 11px;
                @include absolute($tp: -10px, $rt: -10px);
                border-width: 5px;  
            }
        }
    }    
}

@media screen and (max-width: 1500px) {
    .round-btn {
        top: -775%;
        width: rem(90);
        height: rem(90);

        &__inner::before {
            top: 7px;
        }
    }

    .links__line--long {
        width: 16.4%;        
    } 
}

@media screen and (max-width: 1440px) {
    .main-slider__descript {
        margin-bottom: rem(50);
        font-size: rem(22);
        letter-spacing: rem(33);
    }

    .dots {
        width: 80px;
        
        &__inner {
            width: 3px;
            height: 3px;
        }
    
        &__outer {
            width: 17px;
            height: 17px;
        }
    }

    .links__item {
        font-size: 14px;
    }

    .round-btn {
        top: -810%;
    }
}

@media screen and (max-width: 1366px) {
    .main-slider__descript {
        margin-bottom: rem(45);
        padding: rem(22) 0 rem(22) rem(30);        
        font-size: rem(21);
        letter-spacing: rem(31);
    }

    .round-btn {
        top: -830%;

        &__inner::before {
            width: 7px;
            height: 7px;
            border-width: 3px;
            @include absolute($tp: 5px, $rt: 5px);
        }
    }    

    .links {    
        top: 47%;
        
        &__item {
            font-size: 13px;
        }
        
        &__line {
           top: -460%;

            &--long::after {
                width: 10px;
                height: 10px;
                @include absolute($tp: -9px, $rt: -9px);
                border-width: 4px;                
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .main-slider__item {
        width: 65%;
    }

    .links {
        top: 46%;
        
        &__line {
            top: -470%;

            &--long {
                width: 18.5%;
            }
        }

        &__item {
            font-size: 12px;
        }
    }

    .round-btn {        
        width: rem(80);
        height: rem(80);

        &__inner::before {
            @include absolute($tp: 4px, $rt: 3px);
        }
    }    
}

@media screen and (max-width: 1150px) {
    .main-slider__descript {
        margin-bottom: rem(20);               
        font-size: rem(19);
        letter-spacing: rem(28);
    }

    .links {  
        top: 48%;
        
        &__line {
            top: -480%;

            &--long {
                width: 18%;
            }
        }

        &__item {
            font-size: 11px;
        }
    }
    
    .dots {     
        width: 70px;
        
        &__inner {
            width: 2px;
            height: 2px;
        }
    
        &__outer {
            border-width: 1px;
            width: 14px;
            height: 14px;
        }
    }

    .round-btn {        
        width: rem(70);
        height: rem(70);

        &__inner::before {
            @include absolute($tp: 3px, $rt: 1px);
        }
    }    
}

@media screen and (max-width: 960px) {
    .main-slider__descript {
        margin-bottom: rem(15);
        font-size: rem(15);        
    }

    .dots {     
        width: 60px;       
            
        &__outer {            
            width: 12px;
            height: 12px;
        }
    }    

    .links {
        top: 49%;

        &__line--long {
            width: 17.9%;
            left: rem(35);

            &::after {
                width: 9px;
                height: 9px;
                @include absolute($tp: -8px, $rt: -8px);
            }
        }

        &__line--short {
            right: rem(35);
        } 
    }

    .round-btn {
        top: -770%;        
        width: rem(60);
        height: rem(60);  

        &__inner::before {
            @include absolute($tp: 2px, $rt: 0px);
        }
    }
}


@media screen and (max-width: 827px) {
    .main-slider__item {
        width: 60%;
    }

    .main-slider__descript {        
        padding: rem(15) rem(15) rem(15) rem(40);
        margin-bottom: rem(5);
        font-size: rem(14);    
        line-height: 2.5;    
    }

    .links {
        top: 45%;

        &__line--long {
            width: 19.5%;
        }
    }
}

@media screen and (max-width: 760px) {
    .dots {     
        &__outer {            
            width: 11px;
            height: 11px;
        }
    }    

    .links {
        top: 44%;

        &__item {
            font-size: 9px;
        }

        &__line--long {
            width: 20%;
            left: rem(30);
        }

        &__line--short {
            right: rem(30);
        } 
    } 

    .round-btn {
        top: -730%;
        width: rem(50);
        height: rem(50); 
        
        &__inner::before {
            @include absolute($tp: -1px, $rt: -1px);
        }
    }    
}

@media screen and (max-width: 620px) {
    .main-slider__descript {
        padding: rem(10) rem(0) rem(10) rem(25);
        margin-bottom: 0;           
    }

    .dots {     
        width: 60px;       
            
        &__outer {            
            width: 9px;
            height: 9px;
        }
    }    

    .links {
        top: 46%;

        &__line--long {
            width: 20.1%;
            left: rem(20);

            &::after {
                width: 8px;
                height: 8px;
                @include absolute($tp: -7px, $rt: -9px);
                border-width: 3px; 
            }
        }

        &__line--short {
            right: rem(20);
            width: rem(30);
        } 
    } 

    .round-btn__inner::before {
        width: 6px;
        height: 6px;
        @include absolute($tp: 1px, $rt: -2px);
    }
}

@media screen and (max-width: 490px) {
    .main-slider__descript {
        line-height: 2.2;        
    }

    .dots {     
        width: 50px;
        
        &__inner {
            width: 2px;
            height: 2px;
        }
    
        &__outer {
            border-width: 1px;
            width: 8px;
            height: 8px;
        }
    }

    .links {
        top: 47%;

        &__line--long {
            width: rem(40);
        }

        &__line--short {
        display: none;
        } 
    } 

    .round-btn {
        right: auto;
        left: 84%;
    }
}

@media screen and (max-width: 390px) {
    .main-slider {
        padding-top: rem(35);     
    }

    .links {
        top: 0px;

        &__item {
            transform: none;
        }

        &__line--long {
            display: none;
        }
    } 

    .round-btn {
        @include absolute($tp: 760%, $rt: 0);
    }
}

@media screen and (max-width: 350px) {
    .main-slider {
        &__item{
            min-width: 230px;
        }   

        &__descript {
            margin-right: rem(-20);
            padding: rem(10) rem(0) rem(10) rem(6);
            text-align: center;
        }
    }

    .round-btn {
        top: 700%;
    }
}
