.video-section {
    padding: 1.84% 0 4.73%;
    @include flex($fd: column, $ai: center);
    
    &__screen {
        width: 55.6%;
        max-width: 1000px;
        height: 100%;
        max-height: 463px;        
        background-color: $trnspBlack;        
        @include flex($jc: center, $ai: center);        
    }

    &__container {
        position: relative;
        padding-top: 46.3%;
    }
}

.play-block {
    @include center;
    width: rem(403);
    height: rem(403);
        
    &__inner {
        @include center;
        border-radius: 50%;
                            
        &--1 {
            animation: ripple 3s linear infinite;
        }
    
        &--2 {
            animation: ripple 3s linear infinite 1s;
        }

        &--3 {
            animation: ripple 3s linear infinite 2s;
        }

        &--4 {
            animation: ripple 3s linear infinite 3s;
        }
        
        &--static {            
            width: 39.4%;            
            max-width: 159px;
            height: 39.4%;
            max-height: 159px;
            border-radius: 50%;
            background: {
                image: url('../img/play_bg.png');
                repeat: no-repeat;            
                size: 100%;
            } 
            box-shadow: 0px 0px 20px 0px $shadowColor;
            
            &:hover {
                cursor: pointer;

                .play-block__icon:first-child {
                    display: none;
                }

                .play-block__icon:nth-child(2) {
                    display: block;
                }
            }

            &:active {
                width: 38.4%;
                height: 38.4%;
                box-shadow: none;

                .play-block__icon:not(:last-child) {
                    display: none;
                }

                .play-block__icon:last-child {
                    display: block;
                }
            }
        }

        &--anim {
            width: 43.7%;
            height: 43.7%;
            pointer-events: none;
        }
    }

    &__icon {
        width: 17%;
        max-width: 27px;
        @include absolute($tp: 39.6%, $lf: 45.9%);
        user-select: none;

        &:not(:first-child) {
            display: none;
        }
    }
}

.play-circle {
    @include absolute(0px, 0px, 0px, 0px);
    @extend %circle-border-wide;
    animation: rotate 1s ease-in-out infinite;

    &__inner {
        @include absolute(-2px, -2px, -2px, -2px);
        @extend %circle-border-wide;
        animation: flex 1s ease-in-out infinite;
    
        &:after {
            content:'';
            width: 10px;
            height: 10px;
            @include absolute($tp: 13px, $rt: 11px);
            border: 7px solid $trnspOrange;
            border-radius: 50%;
            background: $actionOrange padding-box;
        }
    }
}

.big-text {
    @include font($ff: $playDispReg, $fs: rem(70), $lh: 1.429);        
    text-align: center;
    color: $txtContColor;    
    padding-left: 3.889%;
    padding-right: 3.889%;

    &--top {        
        padding-top: 2.723%;
        padding-bottom: 3.278%;        
    }
}

.signature {
    width: 7.3%;
    max-width: 130px;
    min-width: 70px;
}