.continent {
    padding: 10px 25px 0;  

    &--blue {
        background-color: $contBgColorBlue;
        flex-basis: 100%;
    }

    &--purple {
        background-color: $contBgColorPurple;
    }

    &--red {
        background-color: $contBgColorRed;
        order: 1;
    }

    &--yellow {
        background-color: $contBgColorYellow;
    }

    &--orange {
        background-color: $contBgColorOrange;
        order: 1;
    }

    &__name {
        font-size: $fntSizeTtlBig;
        text-align: center;
        padding-bottom: 2px;
    }
    
    @import './country';
}