* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;  
    
    &:hover {
        color: $linkHvrColor;
    }

    &:active {
        color: $linkActColor;
    }
}

a, button {
    &:hover {
        cursor: pointer;
    }    
}

img, a, button {
    display: block;
}

.wrapper {
    margin: 0 auto;
    max-width: 1800px;
}