%menu-link {
    font: {
        family: "Lato Bold", sans-serif;
        size: rem(14);
    } 
    line-height: rem(14);
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $menuGrey;

    &:hover {
        color: $linkHvrColor;                       
    }

    &:active {
        color: $linkActColor;
    }
}

%circle-border {
    border: 1px solid transparent {
        radius: 50%;
        top: 1px solid $linkHvrColor;
    }
}

%active-dot {
    & > .dots__inner {
        background-color: $dotActColor;
    }

    & > .dots__outer {
        visibility: visible;                
    }
}