%menu-link {
    @include font($ff: $latoBld, $fs: 15px, $lh: 0.9, $ls: 3px);    
    text-transform: uppercase;
    color: $menuGrey;
    user-select: none;   
}

%circle-border {
    border: 1px solid transparent {
        radius: 50%;
        top: 1px solid $linkHvrColor;
    }
}

%active-dot {
    & > .dots__inner {
        background-color: $actionOrange;
    }

    & > .dots__outer {
        visibility: visible;                
    }
}

%circle-border-wide {
    border: 2px solid transparent {
        radius: 50%;
        top: 2px solid $actionOrange;
    }    
}

%menu-line {
    content: '';
    @include absolute($tp: calc(50% - 1px)); 
    width: 78.125%;
    height: 1px;
}
