$pageBgColor: #111619;
$phoneGrey: #6b7175;
$menuGrey: #53595c;
$linkHvrColor: #a53689;
$linkActColor: #5e00ca;
$dotColor: #48555d;
$actionOrange: #ed751b;
$txtContColor: #ffffff;
$linePink: #d5536f;
$linePurple: #a853ec;
$trnspPink: rgba(165, 54, 137, 0.329);
$trnspBlack: rgba(24, 29, 33, 0.4);
$trnspOrange: rgba(237, 117, 27, 0.231);
$shadowColor: rgba(0, 0, 0, 0.5);
$btnOrngDark: #e84b37;
$btnOrngLight: #ee7d16;
$numberGrey: #22292d;
$defaultFnt: 'Times New Roman', serif;
$latoLt: 'Lato Light', sans-serif;
$latoBld: 'Lato Bold', sans-serif;
$playDispReg: 'Playfair Display Regular', serif;
$proxNovReg: 'Proxima Nova Regular', sans-serif;
$proxNovSbld: 'Proxima Nova Semibold', sans-serif;






    