$pageBgColor: #111619;

.Layer_0 {
    background-image: url("Layer 0.png");
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 5112px;
    z-index: 2;
  }
  .Layer_13 {
    background-image: url("Layer 13.png");
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 8700px;
    z-index: 1;
  }
    