@import './fonts';
@import './mixins';
@import './vars';
@import './normalize';
@import './placeholders';

.page {
    background: {
        color: $pageBgColor;
        repeat: no-repeat;
        image: url('../img/page_back.jpg');
        size: 100%;
    } 
}

.btn {
    &__inner {
        position: relative;
        width: 100%;
    }

    &__button {
        @include absolute($tp: 0);
        width:100%;
        height:100%;
        @include font($ff: $proxNovSbld, $fs: rem(14), $ls: 2.9px);            
        color: $txtContColor;
        user-select: none;
        text-transform: uppercase;
        border: none;
        border-radius: 2px;
        will-change: transform;

        &:hover {
            background-image: none;            
        }
    
        &:active {
            transform: scale(0.98);            
            //box-shadow: inset 0px 0px 3px 0px $btnOrngDark;
            //border: 1px solid $btnOrngDark;
        }
    
        &:focus {
            outline: none;
        }   
    }    
}

@import './header/header';
@import './main/main';
@import './footer/footer';
@import './animations';
@import './media';
@import './header/header_media';
@import './main/about_box/main_slider_media';
@import './main/about_box/video_section_media';
@import './main/blog_box/blog_box_media';
@import './main/projects_box/projects_box_media';
@import './main/contact_box/contact_box_media';
@import './footer/footer_media';





