@import './fonts';
@import './mixins';
@import './vars';
@import './normalize';
@import './placeholders';

.page {
    background: {
        color: $pageBgColor;
        repeat: no-repeat;
        image: url('../img/page_back.jpg');
        size: 100%;
    } 
}

@import './header/header';
@import './main/main';
@import './animations';
@import './media';
@import './header/header_media';
@import './main/about_box/main_slider_media';
@import './main/about_box/video_section_media';





