@import './fonts';
@import './mixins';
@import './vars';
@import './normalize';
@import './placeholders';

.page {
    background-color: $pageBgColor;
}

.bg-layer {
    &__img {
    position: absolute;
    z-index: -1000;
    top: 0;
    width: 100%; 
    height: 8700px;   
    }
}

@import './header/header';
@import './main/main';
@import './animations';
@import './media';
@import './header/header_media';
@import './main/about_box/about_media';





